.border_box {
  border: solid black 2px;
}

.primary-color {
  background-color: #e8b86d;
}

.secondary-color {
  background-color: rgb(250, 247, 242);
}

.warning-color {
  background-color: #ff686b !important;
  color: white !important;
}

.select-color {
  background-color: #577590 !important;
  color: white !important;
}

.new-color {
  background-color: #4b7f52 !important;
  color: white !important;
}

body {
  background-color: rgb(250, 247, 242) !important ;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
